* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(#ffffff, #ebdcff);
}
.btn {
  background-color: #872bff;
  border-radius: 30px;
  border: none;
  padding: 16px 32px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.btn:hover {
  background-color: yellowgreen;
}
.btn-white:hover {
  background-color: blanchedalmond;
}

.btn-white {
  border-radius: 30px;
  padding: 16px 32px;
  border: 1px solid #872bff;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
/* globally use */
.heading-content {
  text-align: center;
}
.heading-content h4 {
  font-size: 24px;
  font-weight: bold;
  color: #f411cf;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.heading-content h2 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 60px;
}
#banner {
  margin: 100px auto 120px auto;
  width: 87.5%;
  border: 2px solid #872bff10;
  padding: 20px 30px;
  border-radius: 40px;
  background-image: url("images/hero-bg.png");
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 50%;
}
.banner-content * {
  margin-bottom: 36px;
}
.banner-content h1 {
  font-size: 70px;
  font-weight: bold;
}
.banner-content p {
  font-size: 18px;
  font-weight: medium;
  color: #a8a8a8;
}

.banner-content h1 span {
  color: #f411cf;
}
.banner-image img {
  width: 600px;
}

/* service styles */
#service,
#story,
#country,
#footer-container {
  width: 87.5%;
  margin: 0px auto 120px auto;
}
#service-card-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.service-card {
  background-color: white;
  padding: 60px;
  text-align: center;
  width: 300px;
  border-radius: 30px;
}
.service-card img {
  margin-bottom: 60px;
}
.service-card h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.service-card p {
  font-size: 18px;
  font-weight: 500;
  color: #a8a8a8;
}
/* story styles */
.story-card {
  display: flex;
  background-color: white;
  padding: 48px;
  border-radius: 24px;
  gap: 32px;
}
.story-content h2,
img {
  margin-bottom: 20px;
}
.story-content p {
  margin-bottom: 46px;
}
.story-content button {
  margin-bottom: 58px;
}

/* contry styles */
.btn-card {
  text-align: center;
  margin-top: 60px;
}
#country-card-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
#country-card-container h2 {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
}
/* footer section */

#footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-card h4 {
  font-size: 20px;
  font-weight: 400;
}
.footer-icon img {
  margin-right: 32px;
}
